#Eclipse
.classpath
.project
.settings/

#Netbeans
nb-configuration.xml

#Maven
target/
log/

#Mac
.DS_Store

#Intellij
.idea/
*.iml
*.iws

package-info.java
config_TOSCA/
.externalToolBuilders/
*.ini
*.pem
